##############################################################################
# Enviroment (PyVen, IDE, etc.)
##############################################################################
**/.venv
**/.vscode
**/.DS_Store
**/*.swp
**/.scannerwork
sonar-project.properties

**/docs/public